/*Mandy Tadros 11/22/2017*/

body {
  font-family: Helvetica;
  background-color: #505050;
  background: linear-gradient(
      rgba(192,192,192,.1),
      rgba(192,192,192,.1)
    ), url(../images/runner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
	background-attachment: fixed;
  color: white;
}
p{
  color: rgba(0, 0, 0, 0.87);
}
#overlay-outer{
  width: 90%;
  margin: 0 auto 0 auto;
  padding-top: 10%; 
}
#overlay-inner {
  width: 90%;
  margin: 0 auto 0 auto;
}
#calHeader{
  text-align: center;
  background-color: #ffaa80;
  float: left;
  width: 100%;
}
#monthLabel {
  display: inline-block;
  padding-top: 3%;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  font-family:"Montserrat", sans-serif;
}
#yearLabel{
  font-family:"Montserrat", sans-serif;
}
#previousMonth {
  float: left;
  cursor: pointer;
  padding-left: 17%;
  padding-bottom: 3%;
}
#nextMonth {
  float: right;
  cursor: pointer;
  padding-right: 17%;
  padding-bottom: 3%;
}

#mainCard {
  float: left;
  margin-right: 5%;
}


/***************************
**start of side nav styles**
***************************/
.topNav {
	font-size: 1em;
	z-index: 1;
	top: 0;
  left: 0;
	position: fixed;
  background-color: #4D4D4D;
  text-align: center;
  width: 100%;
  display: inline;
  overflow: hidden;
}
.topNav a {
  overflow: hidden;
  padding: 1.5em 2em;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
	text-decoration: none;
	color: white;
  text-transform: uppercase;
}
.topNav a:hover {
	color: #ffaa80;
}
.topNav #hamburgerMenu {
  display: none;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  padding-left: 5%;
}
/**end nav styles**/

/***************************
**start of form styles**
***************************/
#form-style {
  font-family: 'Montserrat', sans-serif;
  padding: 30px;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}
#form-style h2 {
  background: #ffaa80; /*#4D4D4D;*/
  text-transform: uppercase;
  font-weight: bold;
  text-transform: uppercase;
  font-family:"Montserrat", sans-serif;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}
fieldset {
  border-radius: .5em;
  background:rgba(192,192,192,.7);
}
.instructions, .reps, .repValue {
  display: none;
  margin: 1em;
  padding-left: 1em;
}
textarea {
  width: 100%;
}
legend {
  font-size: 1.2em;
}
/*end of form styles*/

/************************
**start of table styles**
************************/
table, td, th {
	border: .15em solid #2B2B2B;
}
table {
  margin: auto;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
tbody {
  background-color: rgba(192,192,192,.9);
  color: white;
  font-weight: bold;
}
td, th {
  padding: 1%;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
}
td {
	text-align: right;
  padding-top: 1%;
  padding-bottom: 9%;
}
td:hover {
  background-color: rgba(211,211,211,1);
}
.banner{
  background-color: #00B5AD !important;
  border-color: #00B5AD !important;
  color: #FFFFFF !important;
  padding: 0.2em 0.2em;
  margin-bottom: 3px;
  display: inline-block;
  width: 98%;
  color: rgba(0, 0, 0, 0.6);
  text-transform: none;
  text-align: left;
  font-weight: bold;
  font-size: .8em;
  border: 0px solid transparent;
  border-radius: 0.28571429rem;
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease;
  white-space: nowrap;
}
/**end table styles**/

/****************
**media queries**
****************/

/**tablet view**/
@media only screen and  (max-width: 64em){
  #overlay-outer{
    padding-top: 15%;
  }
}
/**smart phone view**/
@media only screen and  (max-width: 37.5em){
  #overlay-outer{
		width: 100%;
    padding-top: 25%;
	}
  .topNav #hamburgerMenu {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    float: right;
  }
  .topNav a{
    display: none;
  }
  .topNav.compressed {
  }
  .topNav.compressed #hamburgerMenu{
    display: block;
    width: 100%;
    float: right;
  }
  .topNav.compressed a {
    display: block;
    text-align: left;
    border: 1px solid gray;
  }
  .topNav.compressed a:hover {
    background-color: gray;
  }
}
